.header_container{
    display: flex;
    padding: 1.3rem;
    padding-bottom: 0.5;
    background-color: rgb(255, 252, 252);
    color: black;
    width: 100%;;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
}
.header_logo{
    border: 1px solid rgb(255, 119, 0);
    padding: 0.5em;
    -webkit-box-shadow: 21px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 21px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 21px 4px 8px 0px rgba(34, 60, 80, 0.2);
}